.controlBlock {
    width: 100%;
    padding: 12px;
    border: 1px solid #080836;
    border-radius: 8px;
    line-height: 40px;
    margin: 10px 0;
}

.controlBlock>p {
    display: flex;
    align-items: center;
}
.controlBlock>p>span{
    margin-left: 8px;
}

.controlBlock:nth-child(2) {
    margin: 10px;
}

.data {
    font-weight: bold;
    font-size: 24px;
}

.directions {
    color: gray;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.directions>span {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
}
.green{
    color: rgb(14, 90, 14);
}
.red{
    color: rgb(180, 20, 20);
}
.directions span>svg {
    margin-right: 8px;
}

@media only screen and (max-width: 742px) {
    .controlBlock {
        width: auto;
    }

    .controlBlock:nth-child(2) {
        margin: 10px 0;
    }
}