.errorPage {
    height: 200px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.errorPage h2 {
    background-color: none;
}
.errorPage p{
    margin: 20px;
}
.errorPage a{
    font-weight: bold;
}