.transactionRecordsTimeBox {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.transactionRecordsTimeBox>span {
    display: inline-block;
    margin: 0 10px;
    width: 20px;
    height: 1px;
    background-color: black;
}

.TransactionRecordsPopcontent {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.TransactionRecordsPopcontent>p {
    padding: 8px 0;
}