.allRewards {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 20px;
}

.memberShow {
    padding: 10px 0;
    line-height: 24px;
    margin: 10px 0;
}

.item {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 4px;
    height: auto;
    min-height: 200px;
    max-height: 50vh;
    overflow-y: auto;
    padding: 5px 10px;
}

.cancel {
    cursor: pointer;
    color: #d82626
}

.tipChoose {
    color: rgba(210, 210, 210, 0.445);
    text-align: center;
    font-size: 30px;
    padding: 20%;
}

.memberShow>.tipChoose {
    text-align: left;
    padding: 0;
    font-size: 18px;
}

.item>div {
    padding: 10px 0;
}

.item>div:not(:first-child) {
    border-top: 1px solid rgb(210, 210, 210);
}

.item>div>div {
    display: grid;
    grid-template-columns: 150px 1fr;
    line-height: 24px;
}

.item>div>div>span:first-child {
    font-weight: bold;
}

.item>div>div>span>input {
    border: 1px solid rgb(210, 210, 210);
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.productOption {
    border-radius: 4px;
    margin: 48px 0;
}

.productOption>div {
    display: inline-block;
    width: 150px;
    border: 1px solid;
    border-color: gray;
    color: gray;
    ;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.productOption>div:last-child {
    margin-right: 0;
}

.productOption>div.all {
    border-color: #080836;
}

.productOption>div.all.checked {
    background-color: #080836;
}

.productOption>div.available {
    color: #8d9f8d;
    border-color: #8d9f8d;
}

.productOption>div.available.checked {
    background-color: #8d9f8d;

}

.productOption>div.checked {
    background-color: gray;
    color: white;
}

.productShow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px 0;
}

.productShow>div {
    opacity: 0.4;
    border: 1px solid gray;
    color: gray;
    border-radius: 4px;
    text-align: center;
    padding: 8px 5px;
    cursor: not-allowed;
}

.productImg {
    border-radius: 70%;
    overflow: hidden;
    border: 2px solid white;
}

.productTitle {
    margin: 8px 0;
}

.productPoint {
    display: grid;
    grid-template-columns: 40px 30px 40px 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.productPoint>span {
    font-size: 12px;
}

.productShow>div.productAvailable {
    opacity: 1;
    border-color: #8d9f8d;
    color: #8d9f8d;
    cursor: pointer;
}

.productShow>div.productAvailable.productAvailableSelected {
    background-color: #8d9f8d;
    color: white;
}

.productBtn {
    display: none;
}

@media only screen and (max-width: 1262px) {
    .allRewards {
        grid-template-columns: 330px 1fr;
        grid-column-gap: 10px;
    }

    .productOption>div {
        width: 132px;
    }
}

@media only screen and (max-width: 1150px) {
    .allRewards {
        grid-template-columns: 400px 1fr;
        grid-column-gap: 15px;
    }
}

@media only screen and (max-width: 990px) {
    .allRewards {
        grid-template-columns: 350px 1fr;
    }
}

@media only screen and (max-width: 950px) {
    .allRewards {
        display: block;
        position: relative;
        overflow: hidden;
    }

    .item {
        height: auto;
        min-height: none;
        max-height: none;
    }

    .allRewards>div:last-child {
        position: absolute;
        right: -1000px;
        top: 0;
    }


    .productBtn {
        display: block;
        font-size: 14px;
        width: 80px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 70%;
        padding: 24px 0;
        word-spacing: -5px;
        background-color: #080836;
        text-align: center;
        color: white;
        margin: 20px 0 5px 0;
        position: fixed;
        top: 240px;
        right: 20px;
        z-index: 5;
    }

    .productBg {
        width: 100%;
        height: 100vh;
        background-color: rgba(16, 15, 15, 0.704);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 198;
    }

    .allRewards>div.openProduct {
        position: fixed;
        padding: 40px;
        right: 0 !important;
        bottom: 0;
        top: auto !important;
        background-color: white;
        height: 90vh;
        width: 90%;
        z-index: 199;
        border-radius: 40px 0 0 0;
    }
}

@media only screen and (max-width: 650px) {
    .productShow {
        grid-template-columns: repeat(2, 1fr);
    }

    .productOption {
        margin: 20px 0;
        display: flex;
        justify-content: flex-start;
    }

    .productOption>div {
        font-size: 14px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .allRewards>div.openProduct {
        padding: 40px 20px;
    }
}

@media only screen and (max-width: 416px) {
    .productShow {
        display: block;
    }

    .productShow>div {
        margin: 10px 0;
    }

    .allRewards>div.openProduct>.productShow {
        height: 80%;
        overflow-y: auto;
    }
}